<a href="https://colab.research.google.com/github/NilavanIniyavan/GlobalAIHubMLCourse/blob/main/Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Name:** Nilavan Iniyavan

In [39]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

In [45]:
data = pd.read_csv("https://github.com/globalaihub/introduction-to-machine-learning/blob/main/Final%20Project/winequality.csv")
data.head()

ParserError: ignored

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24663 entries, 0 to 24662
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   <!DOCTYPE html>  24663 non-null  object
dtypes: object(1)
memory usage: 192.8+ KB

In [8]:
data.describe()

        <!DOCTYPE html>
count             24663
unique             4830
top               </tr>
freq               1599

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24663 entries, 0 to 24662
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   <!DOCTYPE html>  24663 non-null  object
dtypes: object(1)
memory usage: 192.8+ KB

In [10]:
data.isna().sum()

<!DOCTYPE html>    0
dtype: int64

In [13]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
label_encoder = LabelEncoder()
X, y = data.iloc[: , :-1], data.iloc[-1]
print(X)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[24663 rows x 0 columns]

In [22]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth=4, random_state=42)
clf.fit(X,y)
print("Accuracy of train:",clf.score(X))
print("Accuracy of test:",clf.score(X))

ValueError: ignored

In [46]:
from sklearn.datasets import make_blobs
X, y = make_blobs(n_samples=2000, centers=None, n_features=3,random_state=42)
print(X.shape)

(2000, 3)

In [47]:
import pandas as pd
from pandas import DataFrame
import seaborn as sns
from matplotlib import pyplot
import numpy as np
df = DataFrame(dict(x=X[:,0], y=X[:,1],z=X[:,2], label=y))
df.head()

          x         y         z  label
0 -8.499150  5.667142  1.509983      2
1 -9.736497  7.584346  1.997468      2
2  0.773310 -7.171882 -6.727008      1
3  1.745282 -5.885697 -7.788316      1
4  1.583768 -5.288722 -7.983133      1

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x       2000 non-null   float64
 1   y       2000 non-null   float64
 2   z       2000 non-null   float64
 3   label   2000 non-null   int64
dtypes: float64(3), int64(1)
memory usage: 62.6 KB

In [49]:
df.describe()

                 x            y            z        label
count  2000.000000  2000.000000  2000.000000  2000.000000
mean     -3.185601     3.158252    -0.058714     0.999500
std       4.552214     7.209014     5.037935     0.816599
min     -12.420390   -10.351057    -9.712629     0.000000
25%      -8.239049    -6.206542    -6.163356     0.000000
50%      -2.522167     7.251697     1.965763     1.000000
75%       1.275338     8.652427     4.039708     2.000000
max       4.543077    11.952039     8.012175     2.000000

In [50]:
df.isna().sum()

x        0
y        0
z        0
label    0
dtype: int64

In [51]:
df.groupby(by="label").count()

         x    y    z
label
0      667  667  667
1      667  667  667
2      666  666  666

In [52]:
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
label_encoder = LabelEncoder()
df["Label"] = label_encoder.fit_transform(df["label"]) 
df.head()

          x         y         z  label  Label
0 -8.499150  5.667142  1.509983      2      2
1 -9.736497  7.584346  1.997468      2      2
2  0.773310 -7.171882 -6.727008      1      1
3  1.745282 -5.885697 -7.788316      1      1
4  1.583768 -5.288722 -7.983133      1      1

In [53]:
df["Label"].value_counts()

1    667
0    667
2    666
Name: Label, dtype: int64

In [54]:
categories = list(label_encoder.inverse_transform([0, 1, 2]))
categories

[0, 1, 2]

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y,train_size=0.7, test_size=0.3, random_state=123)

In [64]:
import xgboost as xgb
dmatrix_train = xgb.DMatrix(data=X_train, label=y_train)
dmatrix_test = xgb.DMatrix(data=X_test, label=y_test)
param = {'max_depth':3, 
         'eta':1, 
         'objective':'multi:softprob', 
         'num_class':3}

num_round = 5
model = xgb.train(param, dmatrix_train, num_round)
categories

[0, 1, 2]

In [65]:
preds = model.predict(dmatrix_test)
preds[:10]

array([[0.00191031, 0.00180928, 0.9962804 ],
       [0.97502524, 0.01251015, 0.01246463],
       [0.00191209, 0.9962836 , 0.00180437],
       [0.00191209, 0.9962836 , 0.00180437],
       [0.00191031, 0.00180928, 0.9962804 ],
       [0.00191031, 0.00180928, 0.9962804 ],
       [0.00191031, 0.00180928, 0.9962804 ],
       [0.00191209, 0.9962836 , 0.00180437],
       [0.00191209, 0.9962836 , 0.00180437],
       [0.00244122, 0.00180832, 0.9957504 ]], dtype=float32)

In [66]:
best_preds = np.asarray([np.argmax(line) for line in preds])
best_preds

array([2, 0, 1, 1, 2, 2, 2, 1, 1, 2, 0, 2, 1, 0, 2, 0, 1, 0, 1, 2, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 2, 1, 2, 1, 2, 2, 2, 1, 1, 2, 1, 2, 2, 0,
       2, 1, 1, 0, 1, 0, 0, 0, 0, 0, 2, 0, 2, 0, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 1, 2, 1, 0, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 0, 0, 2, 1, 2,
       0, 2, 2, 0, 0, 2, 2, 0, 2, 0, 1, 0, 1, 1, 2, 1, 2, 1, 0, 0, 0, 2,
       2, 2, 2, 2, 1, 1, 2, 0, 0, 1, 2, 0, 0, 2, 2, 1, 2, 1, 2, 0, 2, 2,
       0, 2, 0, 2, 0, 0, 0, 1, 2, 1, 2, 2, 0, 1, 1, 0, 0, 2, 0, 2, 0, 1,
       0, 1, 1, 0, 1, 2, 1, 1, 2, 0, 0, 0, 2, 1, 2, 0, 2, 2, 2, 1, 0, 0,
       2, 1, 2, 1, 1, 1, 0, 2, 2, 2, 1, 2, 2, 0, 2, 1, 1, 2, 0, 1, 0, 2,
       0, 2, 2, 2, 1, 0, 1, 1, 2, 0, 0, 0, 0, 2, 0, 1, 2, 1, 2, 1, 0, 0,
       0, 2, 0, 2, 0, 0, 1, 0, 0, 2, 2, 1, 1, 0, 1, 2, 2, 0, 0, 1, 1, 2,
       2, 0, 2, 1, 0, 2, 0, 0, 2, 0, 2, 2, 1, 2, 2, 1, 2, 1, 2, 2, 1, 0,
       2, 1, 1, 1, 2, 2, 1, 2, 1, 0, 1, 1, 2, 2, 0, 2, 0, 1, 0, 1, 2, 1,
       2, 2, 0, 2, 0, 0, 2, 2, 2, 2, 1, 0, 2, 0, 2, 1, 1, 2, 0, 2, 2, 0,
       0, 2, 0, 2, 2, 2, 1, 0, 2, 2, 2, 1, 1, 0, 0, 0, 1, 2, 1, 2, 1, 0,
       1, 0, 2, 0, 2, 1, 1, 2, 2, 2, 2, 1, 0, 0, 2, 0, 0, 0, 0, 0, 2, 2,
       0, 2, 2, 1, 0, 2, 0, 2, 2, 2, 1, 0, 2, 1, 0, 2, 2, 2, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 0, 1, 2, 1, 1, 2, 2, 1, 2, 2, 1, 1, 0, 0, 0, 0, 2,
       1, 2, 1, 2, 2, 0, 1, 1, 0, 2, 1, 2, 2, 1, 2, 0, 2, 1, 2, 2, 0, 1,
       1, 0, 1, 2, 2, 2, 0, 0, 1, 1, 2, 1, 1, 2, 2, 0, 1, 2, 1, 1, 0, 2,
       2, 2, 0, 0, 2, 0, 0, 0, 2, 1, 1, 0, 2, 0, 2, 1, 2, 2, 1, 0, 2, 0,
       2, 2, 2, 1, 1, 0, 0, 2, 0, 0, 2, 2, 0, 0, 2, 2, 0, 0, 1, 2, 0, 1,
       0, 1, 2, 1, 1, 1, 0, 0, 1, 2, 2, 0, 2, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       1, 0, 2, 2, 1, 0, 2, 1, 0, 2, 0, 2, 2, 1, 1, 0, 2, 2, 0, 2, 1, 1,
       1, 2, 0, 2, 1, 2, 2, 0, 1, 0, 0, 0, 2, 1, 2, 2, 1, 1, 0, 0, 0, 0,
       0, 2, 0, 0, 1, 2, 1, 0, 2, 1, 1, 1, 1, 0, 0, 2, 1, 0, 0, 0, 2, 1,
       0, 2, 2, 0, 0, 0, 1, 1, 2, 0, 0, 1, 2, 0, 2, 0, 1, 0, 1, 2, 0, 0,
       2, 0, 1, 2, 1, 2])

In [67]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(max_depth=4, random_state=42)
clf.fit(X_train,y_train)
print("Accuracy of train:",clf.score(X_train,y_train))
print("Accuracy of test:",clf.score(X_test,y_test))

Accuracy of train: 1.0
Accuracy of test: 1.0

In [68]:
from sklearn.metrics import precision_score, recall_score, accuracy_score, classification_report, f1_score
pred = clf.predict(X_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00       207
           1       1.00      1.00      1.00       172
           2       1.00      1.00      1.00       221

    accuracy                           1.00       600
   macro avg       1.00      1.00      1.00       600
weighted avg       1.00      1.00      1.00       600

In [69]:
print("Precision = {}".format(precision_score(y_test, pred, average='macro')))
print("Recall = {}".format(recall_score(y_test, pred, average='macro')))
print("Accuracy = {}".format(accuracy_score(y_test, pred)))
print("F1 Score = {}".format(f1_score(y_test, pred,average='macro')))

Precision = 1.0
Recall = 1.0
Accuracy = 1.0
F1 Score = 1.0

From the result, we can conclude that the dataset is a pure dataset and so the accuracy of train and test set is 1. So there is undersetting and overfitting problem.